# Virtual environment
venv/
env/

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Ignore environment variables and secrets
*.env

# Ignore IDE/editor configs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace